.wheel-of-fortune-form {
	.discout-tags {
		.site-tag-plus {
			background: #fff;
			border-style: dashed;
			margin-top: 6px;
		}
		.ant-tag {
			padding: 6px;
			margin-bottom: 8px;
		}
		.tag-input {
			width: 78px;
			margin-top: 6px;
			margin-bottom: 8px;
			box-sizing: border-box;
			padding: 0 7px;
			font-size: 12px;
			line-height: 32px;
		}
	}
}
